<!doctype html>
<html>
<head>
	<title>Demo Page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
	<div class="bg">
	<div id = "navigation-bar">
            <nav class="navbar navbar-expand-lg navbar-dark navbar-fade bg-faded">
                <a class="navbar-brand" href="./">Tourism Database</a>
                <div class="navbar-collapse collapse justify-content-center" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/customer">Customer</a></li>
                        <li class="nav-item"><a class="nav-link" href="/booking">Bookings</a></li>
                        <li class="nav-item"><a class="nav-link" href="/assignments">Assignments</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tour_guides">Tour Guides</a></li>
                        <li class="nav-item"><a class="nav-link" href="/locations">Locations</a></li>
                        <li class="nav-item"><a class="nav-link" href="/rating">Ratings</a></li>
                        <li class="nav-item"><a class="nav-link" href="/payment">Payment</a></li>
                    </ul>
                </div>
            </nav>
    </div>
	{{{body}}}
</div>
</body>
</html>