<div id = "customer-page">
    <div class="form">
        <form id="add-customer" action="/customer" method="POST">
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">First Name:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="first_name" placeholder="Your First Name" required >
                        </div>
                </div>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Last Name:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="last_name" placeholder="Your Last Name" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Middle Name:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="middle_name" placeholder="Your Middle Name (optional)">
                        </div>
                </div>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Street Number:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="street_no" placeholder="Street Number" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">City:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="city" placeholder="Eg:Seattle" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">State:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="state" placeholder="Eg:Washington" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Country:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="country" placeholder="Eg:USA" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Postal Code:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="postal_code" placeholder="Eg:98101" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="example-tel-input" class="col-2 col-form-label">Phone Number</label>
                        <div class="col-6">
                        <input class="form-control" type="tel" name="phone_number" pattern="^\d{4}-\d{3}-\d{4}$" placeholder="xxxx-xxx-xxxx" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-2 col-form-label">Email ID</label>
                        <div class="col-6">
                        <input type="email" class="form-control" name="email_id" placeholder="Eg:abcd@gmail.com" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Passport Number:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="passport_number" pattern="^[A-PR-WYa-pr-wy][1-9]\d\s?\d{4}[1-9]$"placeholder="Eg:P2309876" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Passport CounrtyOfIssue:</label>
                        <div class="col-6">
                        <input type="text" class="form-control" name="passport_countryofissue" placeholder="Eg:USA" required>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="example-date-input" class="col-2 col-form-label">Passport Expiry Date:</label>
                        <div class="col-6">
                <input class="form-control" type="date"  name="passport_expirydate" value="2019-10-24"required>
                        </div>
                </div>
                <button type="submit" class="btn btn-dark" id="submitInfo">Submit</button>
        </form>
    </div>
</div>
