<div class="admin-page">
    <div class="form">
        <form method="get">
            <fieldset>
                <legend>Add New Assignment:</legend>
                <div class="form-group row">
                    <label for="formGroupExampleInput" class="col-2 col-form-label">Booking ID#</label>
                    <div class="col-6">
                        <select name="assign_id" size="1" class="form-control" id="guide_name" required>
                            {{#each assignment}}
                            <option value="{{id}}">{{id}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="formGroupExampleInput" class="col-2 col-form-label">Tour Guide</label>
                    <div class="col-6">
                        <select name="guide_name" size="1" class="form-control" id="guide_name" required>
                            {{#each tour_guide}}
                            <option value="{{guide_ID}}">{{guide_full_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark" name="add_assignment" id="add_assignment">Add</button>
                <a href="/assignments" class="btn btn-dark" id="return_assign">Return to Manage Assignments</a>

            </fieldset>
        </form>
    </div>
</div>
