<div id = "home">
          <p id="intro">
              Welcome to our website!
          </p>
</div>
<div>
    <p id="description">Customers</p>
    <p id="description_content">
        Search & edit existing customers, plus add new customers. Customers cannot be deleted from the database.
    </p>
    <p id="description">Bookings</p>
    <p id="description_content">
        Search, edit & delete existing bookings, plus add new bookings. Bookings must be associated with an existing customer.
        Bookings can be deleted and upon deletion, the associated payment and assignment will also be deleted.
        When a new booking is created, a new payment must be added. A new assignment will also be added, but the Tour Guide
        in the relationship can be NULL. This can then be updated/managed from the Tour Guide page.
    </p>
    <p id="description">Assignments</p>
    <p id="description_content">
        Search, edit, delete & add new assignments. New assignments require only the Booking Id and Tour Guide name. The location Id is take from
        the booking information as the 3rd foreign key. Assignments manage the M:M relationship between Location and Tour Guide. 
    </p>
    <p id="description">Tour Guides</p>
    <p id="description_content">
        Search, edit & add new tour guides to the database. Tour Guides cannot be deleted from the database.
    </p>
    <p id="description">Locations</p>
    <p id="description_content">
        Search, edit & add new locations to the database. Locations cannot be deleted from the database.
    </p>
    <p id="description">Ratings</p>
    <p id="description_content">
        Search, edit, delete & add new locations to the database. Ratings must be associated with a customer and with a location, manageing the 
        M:M relationship between the two. 
    </p>
    <p id="description">Payments</p>
    <p id="description_content">
        Search, edit, delete & add new payments. Payments must be associated with a booking. 
    </p>
</div>
